<?php

namespace Elchristo\Calendar;

return [
    'elchristo' => [

        'calendar' => [

            // Converter and convertible events (optional)
            'converters' => [
                'MyConverter' => [
                    MyConverter\Event\ClassName::class => MyConverter\ClassName::class
                ]
            ],

            // Event color configuration
            'colors' => [
                'codes' => [
                    // some predefined color codes to be used by e.g. a color strategy
                    '#fff',
                    '#3af',
                    '#ff0',
                    '#000'
                ],
                'strategies' => [
                    'MyColorStrategy' => My\ColorStrategy\ClassName::class
                ]
            ]

        ]
    ]
];

